body {
    font-family: Arial, sans-serif;
}
h1 {
    text-align: center;
}
#video {
    display: block;
    margin: 20px auto;
}
#buttons, #modes {
    text-align: center;
    margin-top: 20px;
}
button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
}
#trainingLogs {
    margin-top: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    max-width: 800px;
    margin: 20px auto;
}
pre {
    background: #000;
    color: #0f0;
    padding: 10px;
    height: 300px;
    overflow-y: scroll;
}
